
  <!-- <a [routerLink]="['/personaje-details/',dataPj?.id]"  class="card">
    <img src="https://rickandmortyapi.com/api/character/avatar/{{dataPj?.id}}.jpeg" alt="">
    <p>{{dataPj?.name}} | <span [ngClass]="color(dataPj?.status)" class="circulo"></span> {{dataPj?.status}}</p>
  </a> -->


  <mat-card class="example-card">
      <mat-card-title style="text-align: center; padding: 1rem 0;">{{dataPj?.name}}</mat-card-title>
    <img mat-card-image src="https://rickandmortyapi.com/api/character/avatar/{{dataPj?.id}}.jpeg" alt="">
    <mat-card-subtitle style="padding: 1rem 0; text-align: center;"><span [ngClass]="color(dataPj?.status)" class="circulo"></span> {{dataPj?.status}}</mat-card-subtitle>
  </mat-card>
