  <mat-card class="example-card">
    <a [routerLink]="['/personaje-details/',dataPj?.id]" class="card">
      <img mat-card-image src="https://rickandmortyapi.com/api/character/avatar/{{dataPj?.id}}.jpeg" alt="">
      <mat-card-title style="text-align: center; padding: .5rem 0; padding-bottom: 0; font-size: 17px ;color:#fff;">{{dataPj?.name}}</mat-card-title>
      <mat-card-subtitle style="padding: .5rem 0; text-align: center;"><span [ngClass]="color(dataPj?.status)" class="circulo"></span> {{dataPj?.status}}</mat-card-subtitle>
    </a>
  </mat-card>
