.card {
  background-color: var(--rosaClaro);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 0;
  border-radius:1rem ;
}
.card p{
  color:#000 ;
  font-family: sans-serif;
}
.card img {
  border-radius: 1rem;
}
