.card {
  background-color: var(--rosaClaro);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 0;
  border-radius:1rem ;
}
.card p{
  color:#000 ;
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}
.card p span{
  text-align: center;
}
.card img {
  border-radius: 1rem;
}
.circulo {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
    .verde {
      background-color: green;
    }

    .rojo {
      background-color: red;
    }

    .gris {
      background-color: gray;
    }

