.card-episodio{
  display: flex;
  gap: .5rem;
  flex-direction: column;
  width: 100%;
  background-color: var(--rosaClaro);
  padding: 2rem;
  border-radius: 1rem;
  font-family: sans-serif;
  font-weight: 500;
}
h2{
  font-size: 2rem;
}
p{
  font-size: 1.5rem;
}
select{
  background-color: transparent;
  outline: none;
}
.f-option{
  color: #000;
}
select option{
  background-color: var(--bgHeader);
  color:var(--verde);
}
