  <mat-card class="example-card">
    <a [routerLink]="['/episodio-details/',dataEpisodio?.id]" class="card" style="min-height: 11rem; display: flex; place-items: center; justify-content: center; flex-direction: column;">
      <mat-card-title style="text-align: center; padding: .5rem 0; padding-bottom: 0; font-size: 17px ;color:#fff;">
        {{dataEpisodio?.name}}
      </mat-card-title>
      <mat-card-subtitle style="padding: .5rem 0; text-align: center;">{{dataEpisodio?.episode}}</mat-card-subtitle>
    </a>
  </mat-card>

