.episodios-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}
@media(min-width:568px){
  .episodios-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
#app-card{
  width: 100%;
}
.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}

.botones span img {
  height: 2rem;
}
@media (min-width: 720px) {
  .botones span img {
    height: 2.5rem;

  }
}
