.episodios-container{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}
#app-card{
  width: 100%;
}
.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}

.botones a img {
  height: 2rem;
}
@media (min-width: 720px) {
  .botones a img {
    height: 2.5rem;
  }
}
