

<div [ngClass]="{'alturaCambiada':!claseH}" class="pjdetail-container contenedor" >
  <button class="button" routerLink="../../lista-episodios">Volver</button>

  <mat-card class="example-card">
    <mat-card-title style="text-align: center; padding: .5rem 0; padding-bottom: 0; font-size: 17px ;color:#fff;">
      {{unEpisodio?.name}}
    </mat-card-title>
    <div class="container-text">
      <mat-card-content style="text-align: start; color: #c9c9c9;">Id: {{unEpisodio?.id}}</mat-card-content>
      <mat-card-content style="text-align: start; color: #c9c9c9;">Air date: {{unEpisodio?.air_date}}</mat-card-content>
      <mat-card-content style="text-align: start; color: #c9c9c9;">Episode: {{unEpisodio?.episode}}</mat-card-content>
    </div>
    <div>
      <h1>Characters</h1>
      <span [routerLink]="['/personaje-details/',pj?.id]" class="item" *ngFor="let pj of listaPjs">
        {{pj?.name}} <img src="https://rickandmortyapi.com/api/character/avatar/{{pj?.id}}.jpeg" alt="">
      </span>
    </div>
  </mat-card>
</div>

  <!-- id: number
  name: string
  air_date: string
  episode: string
  characters: string[]
  url: string
  created: string
  } -->
