.logo-container {
  height: 5rem;
  background-color: var(--bgInicio);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo-container img {
  width: 12rem;
}
.bars-menu a{
  color: aliceblue;
}
@media (min-width: 568px) {
  .bars-menu{
      display: none;
  }
  .logo-container{
    justify-content: center;
  }
}
.button img{
  width: 2rem;
}
.nav-container{
  display: none;
  gap: 1rem;
  padding: .6rem 0;
  font-weight: 900;
  background-color: var(--bgHeader);
  text-transform: uppercase;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.nav-container a{
  color: #92ee82;
  font-family: sans-serif;
}

@media (min-width: 568px) {
  .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
    }
}


/* POLEMICO PERO FUNCIONA ANIMACION DEL NAV */
.dnone{
  display: none;
}
.bg-nav{
  background-color: var(--bgHeader);
}
.slide-out-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: slide-out-bottom 0.5s ease-in ;
}
@keyframes slide-out-bottom {
  0% {

    opacity: 1;
    height: 0;
  }


  100% {
    opacity: 1;
    height: 8rem;
  }
}


