<mat-toolbar>
  <a class="button" routerLink="../../lista-personajes" href="">
    <img src="../../../assets/Rick-and-Morty.png" alt="">
  </a>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="">Characters</a>
    <a mat-menu-item routerLink="/lista-episodios">Episodes</a>
    <a mat-menu-item routerLink="/lista-locaciones">Locations</a>
  </mat-menu>
</mat-toolbar>
