<div class="card-container contenedor">
  <app-card *ngFor="let pj of listaPersonajes" [dataPj]="pj"></app-card>
</div>
<div class="botones contenedor">
  <a href="#"  (click)="restar(5)"><img src="../../../assets/chevrons-left.png" alt="atras"></a>
  <a href="#" (click)="restar(1)"><img src="../../../assets/chevron-left.png" alt=""></a>
  <span>{{pagActual}}</span>
  <a href="#" (click)="aumentar(1)"><img src="../../../assets/chevron-right.png" alt=""></a>
  <a (click)="aumentar(5)" href="#"><img src="../../../assets/chevrons-right.png" alt="adelante"></a>
</div>
