.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}
.span{
  font-family: sans-serif;
}
.botones{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}
.botones span img{
  height: 2rem;
  image-rendering: optimizeQuality;
}
@media (min-width: 568px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media (min-width: 850px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .botones span img {
    height: 2.5rem;
    cursor: pointer;
  }
}
@media (min-width: 1200px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
